<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/about.css" />
    <title>Bake it!</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoSmjlorsYMTWvFdRB--Kipiqq7u7sOzWfsxfKipXpog&s"
    />
  </head>
  <body>
    <div class="main">
      <nav class="burger">
        <div class="logo-box">
          <a href="/">
            <i class="logo cake fa-solid fa-cake-candles fa-2x"></i>
          </a>
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-button-container" for="menu-toggle">
          <div class="menu-button"></div>
        </label>
        <ul class="menu">
          <li><a href="/">home</a></li>
          <li><a href="/about" class="active">about</a></li>
          <li><a href="/recipes">recipes</a></li>
          <li><a href="/share">share</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
      <section class="about-box">
        <h1 class="about-header">The way you bake it matters!</h1>
        <div class="about-paragraph">
          <p>
            Welcome to one of the least popular website about baking. You are
            not likely to find something to your taste, still - feel free and do
            not hestitate to try at least one of the recipes you come across on
            this website. Here is the recipe of the day:
          </p>
        </div>
        <div class="cake-icon-box">
          <i class="cake fa-solid fa-cake-candles fa-8x"></i>
        </div>
        <div class="table-box">
          <table>
            <tr>
              <th>Ingredients</th>
            </tr>
            <tr>
              <td>3x cups of coding</td>
            </tr>
            <tr>
              <td>2x cups of good mood</td>
            </tr>
            <tr>
              <td>10x tsp of happiness</td>
            </tr>
            <tr>
              <td>1x cup of kindness</td>
            </tr>
            <tr>
              <td>1x kg of fun</td>
            </tr>
          </table>
          <table>
            <tr>
              <th>Instructions</th>
            </tr>
            <tr>
              <td>Mix coding and good mood</td>
            </tr>
            <tr>
              <td>Add happiness</td>
            </tr>
            <tr>
              <td>Add kindness</td>
            </tr>
            <tr>
              <td>Add fun</td>
            </tr>
            <tr>
              <td>Enjoy coding!</td>
            </tr>
          </table>
        </div>
      </section>
      <footer class="footer-box">
        <div class="text-box">
          <h5>&copy; 2024, Bake it!, All Rights Reserved</h5>
        </div>
      </footer>
    </div>
  </body>
</html>
