<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/about.css" />
  </head>
  <body>
    <div class="main">
      <nav class="burger">
        <div class="logo-box">
          <a href="/">
            <i class="logo cake fa-solid fa-cake-candles fa-2x"></i>
          </a>
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-button-container" for="menu-toggle">
          <div class="menu-button"></div>
        </label>
        <ul class="menu">
          <li><a href="/">home</a></li>
          <li><a href="/about" class="active">about</a></li>
          <li><a href="/recipes">recipes</a></li>
          <li><a href="/share">share</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
      <section class="about-box">
        <h1 class="about-header">The way you bake it matters!</h1>
        <div class="about-paragraph">
          <p>
            Welcome to one of the least popular website about baking. You are
            not likely to find something to your taste, still - feel free and do
            not hestitate to try at least one of the recipes you come across on
            this website. Here is the recipe of the day:
          </p>
        </div>
        <div class="cake-icon-box">
          <i class="cake fa-solid fa-cake-candles fa-8x"></i>
        </div>
        <div class="table-box">
          <table>
            <tr>
              <th>Ingredients</th>
            </tr>
            <tr>
              <td>3x cups of coding</td>
            </tr>
            <tr>
              <td>2x cups of good mood</td>
            </tr>
            <tr>
              <td>10x tsp of happiness</td>
            </tr>
            <tr>
              <td>1x cup of kindness</td>
            </tr>
            <tr>
              <td>1x kg of fun</td>
            </tr>
          </table>
          <table>
            <tr>
              <th>Instructions</th>
            </tr>
            <tr>
              <td>Mix coding and good mood</td>
            </tr>
            <tr>
              <td>Add happiness</td>
            </tr>
            <tr>
              <td>Add kindness</td>
            </tr>
            <tr>
              <td>Add fun</td>
            </tr>
            <tr>
              <td>Enjoy coding!</td>
            </tr>
          </table>
        </div>
      </section>
      <%- include('includes/footer') %>
    </div>
  </body>
</html>
