<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/confirmation.css" />
  </head>
  <body>
    <div class="main">
      <nav class="burger">
        <div class="logo-box">
          <a href="/">
            <i class="logo cake fa-solid fa-cake-candles fa-2x"></i>
          </a>
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-button-container" for="menu-toggle">
          <div class="menu-button"></div>
        </label>
        <ul class="menu">
          <li><a href="/">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/recipes">recipes</a></li>
          <li><a href="/share">share</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
      <section class="section-box">
        <div class="cake-icon-box">
          <i class="cake fa-solid fa-cake-candles fa-8x"></i>
        </div>
        <div class="confirmation-box">
          <p class="confirmation-text">Recipe Successfully Shared,</p>
          <p class="confirmation-text">Thanks!</p>
        </div>
        <a href="/recipes" class="recipes-btn">To Recipes</a>
      </section>
      <%- include('includes/footer') %>
      <script>
        (function () {
          if (window.localStorage) {
            if (!localStorage.getItem('firstLoad')) {
              localStorage['firstLoad'] = true;
              window.location.reload();
            } else localStorage.removeItem('firstLoad');
          }
        })();
      </script>
    </div>
  </body>
</html>
