<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <div class="main">
      <nav class="burger">
        <div class="logo-box">
          <a href="/">
            <i class="logo cake fa-solid fa-cake-candles fa-2x"></i>
          </a>
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-button-container" for="menu-toggle">
          <div class="menu-button"></div>
        </label>
        <ul class="menu">
          <li><a href="/" class="active">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/recipes">recipes</a></li>
          <li><a href="/share">share</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
      <section class="section-box">
        <h1 class="index-header">Fake It Till You Bake It!</h1>
        <div class="card-box">
          <div class="card">
            <div class="card-img">
              <i class="cake fa-solid fa-cake-candles fa-5x"></i>
            </div>
            <div class="card-details">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
                tenetur cum harum aliquam quae ab quos molestiae nulla vitae
                placeat.
              </p>
            </div>
            <div class="card-btn-box">
              <a href="/recipes" class="card-btn">To Recipes</a>
            </div>
          </div>
          <div class="card">
            <div class="card-img">
              <i class="cake fa-solid fa-cake-candles fa-5x"></i>
            </div>
            <div class="card-details">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
                tenetur cum harum aliquam quae ab quos molestiae nulla vitae
                placeat.
              </p>
            </div>
            <div class="card-btn-box">
              <a href="/recipes" class="card-btn">To Recipes</a>
            </div>
          </div>
          <div class="card">
            <div class="card-img">
              <i class="cake fa-solid fa-cake-candles fa-5x"></i>
            </div>
            <div class="card-details">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
                tenetur cum harum aliquam quae ab quos molestiae nulla vitae
                placeat.
              </p>
            </div>
            <div class="card-btn-box">
              <a href="/recipes" class="card-btn">To Recipes</a>
            </div>
          </div>
        </div>
      </section>
      <%- include('includes/footer') %>
    </div>
  </body>
</html>
