<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/share.css" />
  </head>
  <body>
    <div class="main">
      <nav class="burger">
        <div class="logo-box">
          <a href="/">
            <i class="logo cake fa-solid fa-cake-candles fa-2x"></i>
          </a>
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-button-container" for="menu-toggle">
          <div class="menu-button"></div>
        </label>
        <ul class="menu">
          <li><a href="/">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/recipes">recipes</a></li>
          <li><a href="/share" class="active">share</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
      <section class="share-box">
        <h1 class="share-header">Share it with us!</h1>
        <%- include('includes/share-form') %>
      </section>
      <%- include('includes/footer') %>
    </div>
  </body>
</html>
