* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  min-height: 100vh;
  width: 100wv;
}

.burger {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ff407d;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 80px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.main {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  background: #f5f7f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-box {
  min-height: 90px;
  width: 100%;
  padding: 0 20px;
  background: #ff407d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  color: #fff;
}

.link-box {
  height: 45px;
  width: 350px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
}

ul li a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  margin: auto;
  transition: 0.3s;
}

ul li a:hover:after {
  width: 100%;
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  margin: auto;
  transition: 0.3s;
}

.section-box {
  max-width: 960px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-header {
  height: 50px;
  width: 100%;
  letter-spacing: 1px;
  color: #ff407d;
  margin: 20px 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-box {
  min-height: 400px;
  min-width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.card {
  width: 250px;
  height: 300px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: #ffcad4 0px 3px 6px, #ffcad4 0px 3px 6px;
}

.card:hover {
  transform: scale(1) translateY(-5px);
  box-shadow: #ffcad4 0px 10px 15px, #ffcad4 0px 10px 15px;
  transition: 0.4s;
}
.card:not(:hover) {
  transition: 0.5s;
}
.card-img {
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ff407d;
}

.card-details {
  padding: 8px;
  font-size: 0.8rem;
  text-align: justify;
  color: #ff407d;
}

.card-btn-box {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.card-btn {
  width: 100%;
  height: 30px;
  letter-spacing: 1px;
  color: #ff407d;
  border: 1px #ff90bc solid;
  border-radius: 3px;
  background: #fff;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-btn:hover {
  border: none;
  color: #fff;
  background: #ff407d;
  transition: 0.4s;
}
.card-btn:not(:hover) {
  transition: 0.5s;
}
.footer-box {
  height: 60px;
  width: 100%;
  background: #ff407d;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #fff;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #fff;
    text-decoration: none;
    background-color: #fc819e;
  }

  .nav-box {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .index-header {
    max-width: 250px;
    font-size: 1.5rem;
  }

  ul li a {
    color: #fff;
  }

  ul li a:hover:after {
    width: 0;
  }
}
